/*
 * SMACSS + SCSS
 *
 */
/* Compass */
/* Tools */
/* ===========================
   Tools/Helpers
   =========================== */
/*
 * Image replacement
 */
/* line 9, ../scss/tools/_helpers.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

/* line 17, ../scss/tools/_helpers.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 28, ../scss/tools/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 37, ../scss/tools/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 54, ../scss/tools/_helpers.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 67, ../scss/tools/_helpers.scss */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 84, ../scss/tools/_helpers.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

/* line 89, ../scss/tools/_helpers.scss */
.clearfix:after {
  clear: both; }

/* line 93, ../scss/tools/_helpers.scss */
.clean-position {
  margin: 0;
  padding: 0; }

/* Base */
/* ======================
  Base/Normalize
  ======================= */
/*! normalize.css v1.0.1 | MIT License | git.io/normalize */
/*=======================
  HTML5 display definitions
  ======================= */
/*
 * Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
/* line 25, ../scss/base/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
/* line 35, ../scss/base/_normalize.scss */
audio,
canvas,
video {
  display: inline-block; }
  /* line 38, ../scss/base/_normalize.scss */
  .lt-ie8 audio, .lt-ie8
  canvas, .lt-ie8
  video {
    display: inline;
    zoom: 1; }

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 49, ../scss/base/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for `hidden` attribute not present in IE 7/8/9, Firefox 3,
 * and Safari 4.
 * Known issue: no IE 6 support.
 */
/* line 60, ../scss/base/_normalize.scss */
[hidden] {
  display: none; }

/*=======================
  Base
  ======================= */
/*
 * 1. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 75, ../scss/base/_normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
/* line 90, ../scss/base/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/*
 * Addresses margins handled incorrectly in IE 6/7.
 */
/* line 98, ../scss/base/_normalize.scss */
body {
  margin: 0; }

/*=======================
  Links
  ======================= */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
/* line 110, ../scss/base/_normalize.scss */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
/* line 119, ../scss/base/_normalize.scss */
a:active,
a:hover {
  outline: 0; }

/*=======================
  Typography
  ======================= */
/*
 * Addresses font sizes and margins set differently in IE 6/7.
 * Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
/* line 133, ../scss/base/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 138, ../scss/base/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

/* line 143, ../scss/base/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0; }

/* line 148, ../scss/base/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0; }

/* line 153, ../scss/base/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

/* line 158, ../scss/base/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

/*
 * Addresses styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
/* line 167, ../scss/base/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
/* line 176, ../scss/base/_normalize.scss */
b,
strong {
  font-weight: bold; }

/* line 180, ../scss/base/_normalize.scss */
blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
/* line 188, ../scss/base/_normalize.scss */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE 6/7/8/9.
 */
/* line 196, ../scss/base/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/*
 * Addresses margins set differently in IE 6/7.
 */
/* line 206, ../scss/base/_normalize.scss */
p,
pre {
  margin: 1em 0; }

/*
 * Corrects font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
/* line 217, ../scss/base/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers.
 */
/* line 227, ../scss/base/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * Addresses CSS quotes not supported in IE 6/7.
 */
/* line 237, ../scss/base/_normalize.scss */
q {
  quotes: none; }

/*
 * Addresses `quotes` property not supported in Safari 4.
 */
/* line 246, ../scss/base/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none; }

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
/* line 255, ../scss/base/_normalize.scss */
small {
  font-size: 80%; }

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 264, ../scss/base/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 271, ../scss/base/_normalize.scss */
sup {
  top: -0.5em; }

/* line 275, ../scss/base/_normalize.scss */
sub {
  bottom: -0.25em; }

/*=======================
 Lists
  ======================= */
/*
 * Addresses margins set differently in IE 6/7.
 */
/* line 290, ../scss/base/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

/* line 294, ../scss/base/_normalize.scss */
dd {
  margin: 0 0 0 40px; }

/*
 * Addresses paddings set differently in IE 6/7.
 */
/* line 304, ../scss/base/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/*
 * Corrects list images handled incorrectly in IE 7.
 */
/* line 313, ../scss/base/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/*=======================
   Embedded content
  ======================= */
/*
 * 1. Removes border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improves image quality when scaled in IE 7.
 */
/* line 327, ../scss/base/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE 9.
 */
/* line 336, ../scss/base/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/*=======================
   Figures
  ======================= */
/*
 * Addresses margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
/* line 348, ../scss/base/_normalize.scss */
figure {
  margin: 0; }

/*=======================
   Forms
  ======================= */
/*
 * Corrects margin displayed oddly in IE 6/7.
 */
/* line 360, ../scss/base/_normalize.scss */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding.
 */
/* line 368, ../scss/base/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE 6/7/8/9.
 * 2. Corrects text not wrapping in Firefox 3.
 * 3. Corrects alignment displayed oddly in IE 6/7.
 */
/* line 380, ../scss/base/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
/* line 397, ../scss/base/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 410, ../scss/base/_normalize.scss */
button,
input {
  line-height: normal; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 427, ../scss/base/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/*
 * Re-set default cursor for disabled elements.
 */
/* line 438, ../scss/base/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to content-box in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 450, ../scss/base/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 463, ../scss/base/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 476, ../scss/base/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in Firefox 3+.
 */
/* line 485, ../scss/base/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE 6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
/* line 495, ../scss/base/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/*=======================
   Tables
  ======================= */
/*
 * Remove most spacing between table cells.
 */
/* line 508, ../scss/base/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ===========================
   Base
   =========================== */
/* line 5, ../scss/base/_base.scss */
body {
  font-family: Arial, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.5; }

/* line 12, ../scss/base/_base.scss */
a {
  color: #212121;
  text-decoration: none; }
  /* line 15, ../scss/base/_base.scss */
  a:hover {
    color: #080808; }

/* line 20, ../scss/base/_base.scss */
::-moz-selection {
  background: #212121;
  color: #fff;
  text-shadow: none; }

/* line 25, ../scss/base/_base.scss */
::selection {
  background: #212121;
  color: #fff;
  text-shadow: none; }

/* line 31, ../scss/base/_base.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/* ======================
  Base/Form
  ======================= */
/* Fonts */
/* Layout */
/* ======================
  Layout/Main
  ======================= */
/* line 8, ../scss/layout/_main.scss */
.l-main {
  width: 1240px;
  position: relative;
  margin: 0 auto; }

/* line 14, ../scss/layout/_main.scss */
.l-grid {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px; }
  /* line 17, ../scss/tools/_mixins.scss */
  .lt-ie8 .l-grid {
    display: inline;
    zoom: 1; }
  /* line 17, ../scss/layout/_main.scss */
  .l-grid.last {
    margin-right: 0; }
  /* line 21, ../scss/layout/_main.scss */
  .l-grid.l-grid-1 {
    width: 165px; }
  /* line 21, ../scss/layout/_main.scss */
  .l-grid.l-grid-2 {
    width: 330px; }
  /* line 21, ../scss/layout/_main.scss */
  .l-grid.l-grid-3 {
    width: 495px; }
  /* line 21, ../scss/layout/_main.scss */
  .l-grid.l-grid-4 {
    width: 660px; }
  /* line 21, ../scss/layout/_main.scss */
  .l-grid.l-grid-5 {
    width: 825px; }
  /* line 21, ../scss/layout/_main.scss */
  .l-grid.l-grid-6 {
    width: 990px; }
  /* line 21, ../scss/layout/_main.scss */
  .l-grid.l-grid-7 {
    width: 1155px; }

/* ======================
  Layout/Header
  ======================= */
/* line 5, ../scss/layout/_header.scss */
.l-header {
  display: block;
  min-height: 100px; }

/* ===========================
  Layout/Row
  =========================== */
/* line 28, ../scss/tools/_mixins.scss */
.lt-ie8 .l-row {
  zoom: 1; }
/* line 32, ../scss/tools/_mixins.scss */
.l-row:before, .l-row:after {
  content: "";
  display: table; }
/* line 36, ../scss/tools/_mixins.scss */
.l-row:after {
  clear: both; }

/* Modules */
/* ======================
  Module/ Main-nav
  ======================= */
/* line 10, ../scss/modules/main-nav/_main-nav.scss */
.main-nav {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #f1f0f0;
  padding: 10px 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dadada));
  background-image: -webkit-linear-gradient(top, #ffffff, #dadada);
  background-image: -moz-linear-gradient(top, #ffffff, #dadada);
  background-image: -o-linear-gradient(top, #ffffff, #dadada);
  background-image: linear-gradient(top, #ffffff, #dadada); }

/* ======================
  Sub Module/ section-nav
  ======================= */
/* line 8, ../scss/modules/section-nav/_section-nav.scss */
.section-nav .section-nav-item {
  font-weight: bold;
  padding: 0 15px;
  border-right: 1px solid;
  border-color: #dadada;
  font-size: 1.0625em;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline; }
  /* line 15, ../scss/modules/section-nav/_section-nav.scss */
  .section-nav .section-nav-item.first {
    padding-left: 0; }
  /* line 19, ../scss/modules/section-nav/_section-nav.scss */
  .section-nav .section-nav-item .section-nav-link:hover {
    text-decoration: underline; }
  /* line 24, ../scss/modules/section-nav/_section-nav.scss */
  .section-nav .section-nav-item .section-nav-link.noticias {
    color: black; }
  /* line 24, ../scss/modules/section-nav/_section-nav.scss */
  .section-nav .section-nav-item .section-nav-link.entretenimento {
    color: #c22083; }
  /* line 24, ../scss/modules/section-nav/_section-nav.scss */
  .section-nav .section-nav-item .section-nav-link.esportes {
    color: #0a9806; }
  /* line 24, ../scss/modules/section-nav/_section-nav.scss */
  .section-nav .section-nav-item .section-nav-link.videos {
    color: #007cd7; }
  /* line 24, ../scss/modules/section-nav/_section-nav.scss */
  .section-nav .section-nav-item .section-nav-link.rede-record {
    color: #2e50cb; }
  /* line 24, ../scss/modules/section-nav/_section-nav.scss */
  .section-nav .section-nav-item .section-nav-link.shopping {
    color: #fd6b08; }
  /* line 24, ../scss/modules/section-nav/_section-nav.scss */
  .section-nav .section-nav-item .section-nav-link.servicos {
    color: #5f7687; }

/* No-Modular */
/* Themes */
