@charset "UTF-8";

// ----------------------
// == Site settings
// ----------------------

// Html 5 Element
$audio-canvas-video: flase; // True | False

// Fonts
$font1: Arial, Helvetica, Arial, sans-serif;
$font2: Georgia, serif;

// = Colors
// -----------------------------

// Text
$color-text-base: #212121;
$color1: $color-text-base;

// link
$color-link: $color1;
$color-link-hover: darken($color1, 10%);

// = Grid
// -----------------------------

// Max width wrapper
$wrapper-width: pxtoem(1140, 16);

// Sections declarations
$sections: noticias, entretenimento, esportes, videos, rede-record, shopping, servicos;
$section-colors: black, #C22083, #0A9806, #007CD7, #2E50CB, #FD6B08, #5F7687;